name: CI/CD for simple-http-checker

on:
  push:
    branches: ['main']
  workflow_dispatch:

jobs:
  lint-static-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Display Python version and location
        run: |
          python --version
          which python
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[dev]"
      - name: Linting and format checks
        run: |
          ruff check .
          black --check .
      - name: Static type and security checks
        run: |
          mypy src/
          bandit -c pyproject.toml -r .
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12']
      steps:
        - name: Check out repo
          uses: actions/checkout@v4
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: ${{ matrix.python-version }}
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install ".[dev]"
        - name: Automated test with Pytest
          run: |
            pytest
  release:
    runs-on: ubuntu-latest
    needs:
      - tests
      - lint-static-check
    steps:
      - name: release
        run: echo "Release"